REKORDBOX_XML_PATH=/path/to/rekordbox.xml
SQLITE_DB_PATH=data/rekordbox_tracks.sqlite3

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_MARKET=US
SPOTIFY_MINIMUM_MATCH_SCORE=0.75
SPOTIFY_SEARCH_LIMIT=3
SPOTIFY_RPS=2.0
